/*color*/
$text-primary: #789c74;
$text-light-primary: #578038;
$text-third:#dcaa2e;
$text-secondary: #666;
$text-light-secondary: #E0E0E0;
$text-white: #fff;
$text-gray:#333;
$text-black: #000;

/*font*/
$fz-0: 12px;
$fz-1: 14px;
$fz-normal: 16px;
$fz-1-5: 18px;
$fz-2: 20px;	
$fz-3: 24px;	
$fz-4: 28px;
$fz-5: 32px;
$fz-6: 40px;